/* IMPORT 3RD PARTY FONTS */
@import url(https://fonts.googleapis.com/css?family=Gudea);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

/* CSS RESET - BROWSER COMPATIBILITY */
html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background-color: #f0f0f0; /* Retaining your original light background */
    font-family: Gudea, sans-serif;
    font-size: 16px;
    color: #111; /* Original text color */
    overflow-y: scroll;
}

#page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/**************************/
/*         HEADER         */
/**************************/
#header {
    margin-top: 25px;
    padding-bottom: 4px;
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 7px;
}

#title {
    font-size: 16pt;
    font-weight: bold;
    color: #0a6e92; /* Keeping original blue */
}

#subtitle {
    
}

#social_media {
    float: right;
    margin-bottom: -5px;
}

.social_ico {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: 3px;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-right: 5px;
    opacity: 0.65;
}

.social_ico:hover {
    opacity: 0.8;
}

#social_media a {
    text-decoration: none;
}

#cursor {
    padding-left: 10px;
    animation: 1s blink infinite steps(1, start);
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes blink {
    0%, 100% {
        background-color: #111;
        color: #aaa;
    }
    50% {
        background-color: #f0f0f0;
        color: #aaa;
    }
}

/**************************/
/*          MENU          */
/**************************/
#menu {
    margin-bottom: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline;
    cursor: pointer;
    margin-right: 22px;
}

#menu li:not(.active):hover {
    color: #666;
}

#menu .active {
    font-weight: bold;
}

#active-border {
    position: absolute;
    left: 510px;
    top: 85px;
    width: 39px;
    height: 3px;
    background-color: #d2d2d2;
}

/**************************/
/*         CONTENT        */
/**************************/
#content {
    width: 810px; /* for slide effect */
    font-size: 14px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 60px;
}

h1 {
    color: #405680; /* Original dark blue */
    font-size: 16pt;
    margin-bottom: 7px;
}

h2 {
    color: #357671; /* Original greenish */
    font-size: 15pt;
    margin-bottom: 5px;
}

h3 {
    color: #c58206; /* Original yellowish */
    font-size: 15pt;
    margin-bottom: 5px;
}

p {
   padding-bottom: 20px;
}

a {
    color: #405680;
}

ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

.code-font {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

div.section_divider {
    width: 500px;
    border-bottom: 1px solid #AAA;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

div.section_divider h2 {
    display: inline;
}

div.section_divider img {
    border: 0px;
    margin: 0px;
    margin-left: 5px;
}

/**************************/
/*   HOME IMAGE GALLERY   */
/**************************/
.popup-gallery a {
    display: inline-block;
    width: 135px;
    height: 135px;
    border: 1px solid #777;
    margin: 10px;
    padding: 0px;
}

.popup-gallery a img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
}

.mfp-img-mobile img {
    border: 0px;
}

/**************************/
/*       PORTFOLIO        */
/**************************/
div.portfolio_item {
    height: 375px;
    cursor: pointer;
}

div.portfolio_item:hover {
    opacity: 0.95;
}

div.portfolio_item h2 {
    padding-top: 15px;
}

div.portfolio_item:nth-of-type(odd) img {
    float: right;
    margin-top: 0px;
    margin-right: -20px;
    margin-left: 50px;
}

div.portfolio_item:nth-of-type(even) img {
    float: left;
    margin-top: 0px;
    margin-left: -20px;
    margin-right: 50px;
}

.portfolio_back {
    float: left;
    width: 45px;
    height: 30px;
    background-image: url('../images/back_arrow.png');
    cursor: pointer;
    margin-right: 10px;
}

.portfolio_back:hover {
    background-image: url('../images/back_arrow_hover.png');
}

/**************************/
/*         IMAGES         */
/**************************/
img {
    border: 2px solid #c8c8c9;
    border-radius: 2px;
}

img.noborder {
    border: 0px;
}

img.right {
    float: right;
    margin: 10px;
    margin-left: 25px;
}

img.left {
    float: left;
    margin-left: 10px;
    margin-right: 25px;
}

/**************************/
/*         VIDEO          */
/**************************/
div.youtube {
    width: 648px;
    height: 364px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #222;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #555;
    margin-bottom: 30px;
}

div.youtube iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/**************************/
/*          MISC          */
/**************************/
.antispam {
    display: none;
}

#resume {
    width: 88%;
}

img.img_resume {
    margin-top: 6px;
    margin-right: 30px;
}

.img_resume:hover {
    opacity: 0.85;
    cursor: pointer;
}

.demo-player {
  margin-bottom: 1rem;
  text-align: center;  
}

.demo-thumbnails {
  display: flex;
  overflow-x: auto;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.demo-thumbnails .thumb {
  flex: 0 0 auto;
  cursor: pointer;
}

.demo-thumbnails .thumb img {
  display: block;
  width: 140px;  
  height: auto;
  border: 2px solid transparent;
}

.demo-thumbnails .thumb.selected img {
  border-color: #007acc;  
  border-width: 4px;
}

.video-container {
    width: 640px;
    height: 360px;
    
    /* Removed 'auto' from margins to prevent centering. */
    /* This sets 20px margin on top/bottom, and 0 on left/right. */
    margin: 20px 0; 
}

/* The rest of the CSS remains the same: */

.video-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Rectangular rounded styling */
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    padding: 15px 25px 15px 30px; 
    border-radius: 12px; 
    
    transition: background-color 0.3s ease;
    
    line-height: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-link:hover .play-button {
    background-color: rgba(255, 0, 0, 1);
}



